.button {
    padding: 10px 20px;
    font-size: 20px;

    border: 1px solid black;
    color: white;
    font-family: "Quicksand", sans-serif;

    cursor: pointer;
}

.link-button {
    background-color: rgb(0, 168, 64); 
}

.submit-button {
    background-color: rgb(168, 0, 0);

    &[disabled] {
        background-color: #be8585
    }
}

.add-button {
    padding: 2px 0;
    width: 100%;
    color: black;
}

.delete-button {
    padding: 0;
    color: black;
}