.field {
    margin: 10px;
}

.field-label {
    text-align: right;
    margin-left: 5%;

    &.required::before {
        content: '*';
        color: red;
    }
}

.field-input {
    padding: 4% 20px;
    width: calc(90% - 40px);

    margin: 1% 5%;
    font-size: 1rem;

    border: 1px solid black;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
}

.field-group-container {
    margin: 1% 5%;
}

.field-group {
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 0;
    margin: 5px 0;

    &.field-group-3 {
        grid-template-columns: 4fr 2fr 1fr 1fr;
    }

    .field-input {
        margin: 0;
        width: 100%;
        padding: 15px 10px;
        font-size: 0.7rem;
    }
}