.field {
    margin: 10px;
}

.field-label {
    text-align: right;
    margin-left: 5%;
}

.field-input {
    padding: 4%;
    width: 82%;

    margin: 1% 5%;
    font-size: 1rem;

    border: 1px solid black
}

.field-group-container {
    margin: 1% 5%;
}

.field-group {
    display: grid;
    grid-template-columns: 7fr 1fr;
    gap: 0;
    margin: 5px 0;

    &.field-group-3 {
        grid-template-columns: 4fr 2fr 1fr 1fr;
    }

    .field-input {
        margin: 0;
        width: 100%;
    }
}

.field-group-add-button {
    width: 100%;
    height: 20px;
}