.field {
    margin: 10px;
}

.field-label {
    text-align: right;
    margin-left: 5%;
}

.field-input {
    padding: 4%;
    width: 82%;

    margin: 1% 5%;
    font-size: 1rem;

    border: 1px solid black
}