.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;

  .navbar-item {
    margin: 10px;

    .navbar-link {
      text-decoration: none;
      margin: 10px;
      padding: 10px 0;
      color: white;
      user-select: none;

      &.disabled {
        color: #888;
      }
    }
  }
}

.navbar-links--top {
  font-size: 115%;
  background-color: rgb(168, 0, 0);
  border-bottom: 2px solid black;
}

.navbar-links--bottom {
  font-size: 85%;

  .navbar-item {
    margin: 5px 10px;

    .navbar-link {
      color: black;
    }
  }
}
