.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .navbar-logo {
    height: 60px;
    width: 60px;
    margin-right: 10px;
  }

  .navbar-title {
    text-align: center;
    font-size: 250%;
    margin: 10px;
  }
}
