.user-panel {
    position: fixed;
    right: 30px;
    top: 5px;
    width: 270px;
    height: 60px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 0px 4px rgb(100, 100, 100);
    background-color: white;

    overflow: hidden;
    transition: height 0.5s;

    .user-panel-header {
        padding: 5px 5px 10px 5px;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 20px;
        gap: 20px;
        border-bottom: 1px solid rgba(100, 100, 100, 0.5);

        .user-panel-greeting {
            text-align: end;
        }

        .user-panel-icon {
            width: 50px;
            height: 50px;
        }
    }

    .user-panel-body {

    }
}

.user-panel:hover {
    height: 340px;
}