* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUCAIAAABwJOjsAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADPSURBVEhLpZYxDoMwDEUDR+hMt/b+B+rYmV4hdfQjo1hu8u2+AWLE00uY2M7jcXu/SpzP/SnXtLvjhplHlbS7Y8shHy+L+I/bThzy1cSYdltYh6VvqiDn9rCw9N0qSLhXWJj4kyqIukNYcP1lFYRcGxaMT1YB72611r4cUVkgqwrjOicGKkSrAuP+DJvPFYJx/TAE2S+2HGqTrhNWE2Oozbs2bExAtkPuEHZNsGxH3Ss8McGknXB7eGkCt51zW5g0gfHTbvv10Uc8GhYybilfTK7QPW2qfE0AAAAASUVORK5CYII=');
}
